@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
*{
    font-family: 'Poppins', sans-serif;
}
h1,h2,h3,h4,h5,h6{
    margin: 0px;
    color:#627a88;
}
p{
    font-size: 15px;
}
.container{
    width: 1180px;
    margin: 0 auto;
    padding-bottom: 50px;
}
.customer-section .container{
    display: flex;
    padding-bottom: 0px;
}
.slider .inner-box h2{
    margin: 0px !important;
}
.slider .cantent-box{
    background-color: #ffffff90;
}
.slider .owl-dots{
    position: absolute;
    top: 60%;
    right: 29.5%;
}
.slider .owl-dots .owl-dot.active span{
    background-color: #00000099 !important;
}
.slider .owl-dots .owl-dot:hover span{
    background-color: #00000099 !important; 
}
/* from */
.resp-tabs-list{ 
    border: none !important
}
 input:focus-visible,select:focus-visible{
    outline: none !important;
    border-bottom:2px solid #2172ba !important;
}
.resp-tabs-list.hor_1 li{
    margin-right: 0px !important;
    background-color: #024 !important;
    color: #ffffff !important;
    font-size: 17px;
    font-weight: normal;
}
.resp-tabs-list.hor_2 li{
    margin-right: 0px !important;
    width: 17%;
    text-align: center;
    background-color: #ffffff !important;
}
.resp-tabs-list.hor_1 .resp-tab-active{
    background-color: #ffffff !important;
    color: #024 !important;
}
.resp-tabs-list.hor_2 .resp-tab-active{
    border-bottom: 2px solid #2172ba !important;
}
.resp-tab-content{
    border: none !important;
    border-top:1px solid #666 !important;
    padding: 0px !important;
}
.resp-tab-content .inner-box{
    width: 100%;
    border: none;
    padding: 14px 24px 24px 24px !important;
}
.resp-tab-content.hor_1.resp-tab-content-active{
    padding: 0px !important;
}
.inner-box{
    width: 50%;
    border: 1px solid #0078d2;
    padding: 40px;
    margin-right: 20px;
}
.inner-box h2{
    font-size: 1.7em;
    color: #36495a;
    font-weight: bold;
    margin-bottom: 20px;
}
.inner-box p{
    font-weight: 500;
    color: #36495a;
}

.onboard{
    display: flex;
    justify-content: space-between;
}
.onboard .title{
    color: #627a88;
}
.onboard .container{
    position: relative;
}
.onboard .container::before {
    position: absolute;
    bottom: 0px;
    left: 0px;
    height: 5px;
    width: 100%;
    content: '';
    background-image: url(../image/img-6.png);
    background-size: 100%;
}
.onboard .title{
    font-size: 2.14286rem;
    line-height: 36px;
    font-weight: 400;
    margin: 20px 0px;
}

.onboard img{
    width: 90%;
    height: 60%;
}
.box{
    width: 100%;
}
.onboard .box-cantent {
    margin-right: 40px;
    padding: 20px;
    padding-left: 0px;

}
.onboard .box-cantent h2{
    font-size: 1.51429rem;
    line-height: 30px;
    font-weight: 500;
}
.onboard .box-cantent p{
    font-size: 13px;
}
.flight{
    margin-top: 30px;
    padding-top: 30px;
}
.flight .container{
    display: flex;
    justify-content: space-between;
}
.flight h2{
    font-size: 23px;
    font-weight: 100;
    margin-bottom: 10px;
}
.flight a{
    display: block;
    margin-bottom: 10px;
    font-size: 15px;
}
.flex{
    display: flex;
}
.flex .content{
    padding-left: 10px;
}
/* slider */
.item .inner-box{
    position: relative;
}
.item .inner-box:before{
    position: absolute;
    content: '';
    top: 0px;
    left: 0px;
    background-color: #00000080;
    width: 100%;
    height: 100%;
}
/* navbar */
header li{
    display: inline-block !important;
}
.top-navbar {
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    letter-spacing: 0.03em;
    color: #000000;
}

.top-navbar .custom-container {
    padding: 12px 180px;
    border-bottom: 1px solid linear-gradient(90deg, #FFD392 0%, #039D46 100%);
}

.top-navbar .custom-container hr {
    background: linear-gradient(90deg, #4c546b 0%, #1abcbb 100%);
    height: 2px;
    margin: 0px;
    margin-top: 12px !important;
}

.top-navbar .custom-container .left {
    display: inline-block;
    width: 49.9%;
    vertical-align: middle;
}

.top-navbar .custom-container .left .box {
    display: inline-block;
    margin-right: 16px;
}

.top-navbar .custom-container .left .box i {
    margin-right: 8px;
    color: #484848
}

.top-navbar .custom-container .left a:hover {
    color: #039D46 !important;
}

.top-navbar .custom-container .right a:hover {
    background-color: #fff !important;
}

.top-navbar .custom-container .right a:hover i {
    color: #4c546b !important;
}

.top-navbar .custom-container .right {
    display: inline-block;
    width: 50%;
    vertical-align: middle;
    margin-left: -5px;
    text-align: right;
    height: 27px;
}

.top-navbar .custom-container .right .social-media ul li a {
    display: inline-block;
    padding: 4px;
    width: 26px;
    height: 26px;
    border-radius: 50%;
    background-color: #4c546b;
    text-align: center;
}

.top-navbar .custom-container .right .social-media ul li a i {
    font-size: 10px;
    color: #fff;
    vertical-align: super;
}

.main-navbar {
    margin-bottom: 15px;
}

.main-navbar .logo-box {
    width: 20%;
    display: inline-block;
    vertical-align: middle;
}

/* .main-navbar .logo-box img {
    width: 40%;
} */

.main-navbar .nav-box {
    width: 80%;
    display: inline-block;
    margin-left: -5px;
    text-align: right;
}

.main-navbar .nav-box ul li:not(:last-child) {
    margin-right: 60px;
}

.main-navbar .nav-box ul li select {
    border: none;
    background: none;
}

.main-navbar .nav-box ul li a {
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    color: #ffffff !important;
}

.main-navbar .nav-box ul li a:hover {
    color: #1abcbb !important;
}

.menu-box {
    display: none;
}
@media screen and (max-width:1919px) {
	.custom-container{padding: 0px 160px;}
	.main-navbar .nav-box ul li:not(:last-child){margin-right: 50px;}
}
@media screen and (max-width:1599px) {
	p{font-size: 16px;}
	.main-navbar .nav-box ul li:not(:last-child){margin-right: 40px;}
}
@media screen and (max-width:1365px) {
	.header{position: absolute;top: 0px;left: 0px;width: 100%;background: #ffffff;}
	.menu-open{overflow: hidden;height: 100vh;}
	.menu-box{display: block;}
	.main-navbar{position: relative;}
	.menu-box span{display: block;width: 40px height: 2px;background-color: #000000;margin-bottom: 4px;}
	.menu-box{position: absolute;top: 20px;right: 113px;;}
	.menu-box span{display: block;width: 40px; height: 4px;background-color: #4c546b ;margin-bottom: 4px;border-radius: 2px;}
	.nav-box{display: none !important;}
	.menu-open .nav-box{display: block !important;height: 100vh;}
	.menu-open .nav-box ul{margin-top: 40px !important;}
	.menu-open .nav-box ul li{width: 100%;display: block;margin-bottom: 20px;text-align: left;}
    .menu-open .menu-box span:nth-child(1) {transform: rotate(45deg);position: absolute;top: 8px;transition: all .2s ease-in-out;}
	.menu-open .menu-box span:nth-child(2) {transform: translateX(10px);opacity: 0;transition: all .2s ease-in-out;}
	.menu-open .menu-box span:nth-child(3) {transform: rotate(135deg);position: absolute;top: 8px;transition: all .2s ease-in-out;}
}
@media (max-width: 1180px){
    .container{
        width: 96%;
    }
}
@media (max-width: 768px) {
    .destination-box{
        flex-direction: column;
        align-items: center;
    }
    .onboard{
        flex-direction: column;
    }
    .onboard img{
        width: 100%;
    }
    .title-box h2{
        font-size: 30px;
    }
    .destination-box .contant{
        text-align: center;
    }
    hr{
        margin: 20px auto;
    }
    .onboard .box-cantent{
        margin-right: 0px;
        text-align: center;
    }
    .flight .container{
        flex-direction: column;
        margin: 0 auto;
        width: 100%;
        text-align: center;
    } 
    .customer-section .container{
        flex-direction: column;
        width: 100%;
        margin-right: 0px;
    }   
    .inner-box{
        width: 70%;
        margin: 10px auto;
    }
    .flex{
        align-items: center;
    justify-content: center;
    }
    .inner-box a{
        width: 100%;
    }
}




